
.vs/LinuxMod/v16/.suo
bin/Debug/net45/LinuxMod.pdb
bin/Debug/net45/LinuxMod.dll
obj/Debug/net45/LinuxMod.csproj.CoreCompileInputs.cache
obj/Debug/net45/LinuxMod.csprojAssemblyReference.cache
obj/Debug/net45/LinuxMod.pdb
obj/Debug/net45/LinuxMod.dll
obj/Debug/net45/LinuxMod.csproj.CoreCompileInputs.cache
obj/Debug/net45/LinuxMod.csprojAssemblyReference.cache
obj/Debug/net45/LinuxMod.dll
obj/Debug/net45/LinuxMod.pdb
.vs/LinuxMod/DesignTimeBuild/.dtbcache.v2
.vs/LinuxMod/v16/.suo
.vs/LinuxMod/v16/Browse.VC.db
bin/Debug/net45/LinuxMod.pdb
bin/Debug/net45/LinuxMod.dll
*.pdb
*.dll
*.cache
*.opendb
*.db-wal
*.db-shm
.vs/LinuxMod/v16/.suo
*.pdb
*.dll
*.cache
bin/Debug/net45/LinuxMod.pdb
bin/Debug/net45/LinuxMod.dll
.vs/LinuxMod/v16/.suo
obj/Debug/net45/LinuxMod.csprojAssemblyReference.cache
obj/Debug/net45/LinuxMod.dll
obj/Debug/net45/LinuxMod.pdb
obj/Debug/net45/LinuxMod.csproj.CoreCompileInputs.cache
