
.vs/LinuxMod/v16/.suo
bin/Debug/net45/LinuxMod.pdb
bin/Debug/net45/LinuxMod.dll
obj/Debug/net45/LinuxMod.csproj.CoreCompileInputs.cache
obj/Debug/net45/LinuxMod.csprojAssemblyReference.cache
obj/Debug/net45/LinuxMod.pdb
obj/Debug/net45/LinuxMod.dll
